@use '../../base/variables' as v;
@use '../../base/mixins' as m;


.barra-social {
    @include m.tablet { 
        padding: 1.2rem 0;
    }

    &--none {
        display: none;
        @include m.tablet { 
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__redes {
       display: flex;
       justify-content: center;
       gap: 1.5rem; 
       margin-bottom: 2rem;

       @include m.tablet { 
        margin-bottom: 0; 
       }
    }

    &__contacto {
        padding: 2rem 0;
        border-top: .1rem solid #D3D2D2; 
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        font-weight: 700;
        @include m.tablet { 
            flex-direction: row;
            border-top: none;
            padding: 0;
            gap: 3rem;
        }
    }

    &__telefono,
    &__gmail {
        color: v.$negro;
        padding-left: 1rem;
        width: fit-content;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            width: 2rem;
            height: 2rem;
            left: -10%;
        }
    }

    &__telefono:before {
        background-image: url('../assets/img/img-iconos/telefono-header.svg');
    }
    &__gmail:before {
        background-image: url('../assets/img/img-iconos/gmail.svg');
    }
}


