@use '../../base/variables' as v;
@use '../../base/mixins' as m;


.hero {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include m.desktop { 
        flex-direction: row;
        justify-content: space-around;
    }
    @media(min-width: 3000px) {
        justify-content: center;
        gap: 10rem;
    }

    &__imagen {
        width: 25rem;
        height: 25rem;
        @include m.tablet { 
            width: 40rem;
            height: 40rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3rem;
        @include m.desktop { 
            align-items: flex-start;
        }
    }
    &__heading {
        font-size: 4.5rem;
        @include m.tablet { 
            font-size: 6rem;
        }
    }

    &__btn {
        @include m.boton(v.$primario, v.$blanco);
    }
}