@use 'variables' as v; 

/* Media Queries */
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

/* Grid */
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

/* btn */
@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    color: $colorTexto;
    padding: 1rem 2rem;
    border-radius: .5rem;
    border: none;
    transition: .3s;

    &:hover {
        background-color: darken( $bgColor, 10% );
    }
}