@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

// Fuentes
$fuentePrincipal : "Nunito", sans-serif;


// Media Queries
$telefono: 480px;
$telefono-2: 665px;
$tablet: 768px;
$tablet-2: 992px;
$desktop: 1024px;
$desktop-2: 1280px;
$desktop-3: 1440px;
$desktop-4: 1665px;
$smartTv: 2500px;


// Colores
$primario: #5F66A8;
$secundario: #6BB56F;
$negro: #2E2A2B;
$blanco: #FFFFFF;
$gris-claro: #F8F8F8;
// Colores banners
$bg-rosa: #FFDCDC;
$bg-amarillo: #FFEFDC;
$bg-verde: #EBFFDC;
$bg-azul: #DCEAFF;
$bg-violeta: #DDDCFF;



// Unidades
$separacion: 5rem;