@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.banners {
    padding: 2.5rem 0;
    @include m.grid(1, .5rem);
    @include m.tablet { 
        @include m.grid(3, .5rem);
    }

    &__banner {
        padding: 2rem;
        height: 25rem;
        overflow: hidden;
        border-radius: .5rem;
        transition: .6s;
        @include m.desktop { 
            padding: 3rem 5rem;
        }
    }
        
    &__banner:nth-child(1) {
        background-color: v.$bg-azul;
        &:hover {
            background-color: darken(v.$bg-azul, 6%);
        }
        @include m.tablet { 
            height: 100%;
            grid-row: 1/3;
        }
    }
    &__banner:nth-child(2) {
        background-color: v.$bg-amarillo;
        &:hover {
            background-color: darken(v.$bg-amarillo, 6%);
        }
        @include m.tablet { 
            grid-column: 2/4;
        }
    }
    &__banner:nth-child(3) { 
        background-color: v.$bg-verde;
        &:hover {
            background-color: darken(v.$bg-verde, 6%);
        }
        @include m.tablet { 
            grid-column: 2/4;   
        }
    }
    
    &__info {
        color: v.$negro;
        max-width: 35rem;
        h3 {
            margin-bottom: 1.5rem;
            font-size: 3rem;
            @include m.tablet { 
                font-size: 3.5rem;       
            }
        }
        a {
            font-size: 1.6rem;
            font-weight: 500;
            
            @include m.tablet { 
                font-size: 1.8rem;
            } 

            &:after {
                content: '';
                position: absolute;
                top: 70%;
                right: -30%;
                background-image: url('../assets/img/img-iconos/arrow_banner.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                transition: transform .6s;
            }
            &:hover:after {
                transform: translateX(1.5rem);
            }
        }
    }

    &__img {
        position: absolute;
        bottom: 0;
        width: 20rem; 
        @include m.telefono { 
            width: 30rem;
        }
        @include m.desktop { 
            width: 35rem;
        }
    }
    &__img-drone {
        right: -10%;
        @include m.tablet { 
            left: -15%;
        }
        @include m.desktop { 
            width: 45rem;
        }
    }
    &__img-grafica {
        top: 45%;
        right: -10%;
        @include m.telefono { 
            top: 30%;
        }
        @include m.desktop { 
            top: 0;
        }
    }
    &__img-vr {
        right: -10%;
        bottom: -10%;

        @include m.desktop { 
            top: -20%;
            right: -5%;
        }
        
    }
}