@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.mas-vendidos {

    &__heading {
        text-align: center;

        @media (min-width: 680px) { 
            text-align: left;
        }
    }

    &__grid {
        padding-top: 3rem;
        

        @media (min-width: 768px) { 
            @include m.grid(4, 2rem);
        }
    }

    &__cards {
        display: flex;
        flex-direction: column; 
        gap: 2rem;

        @media (min-width: 580px) { 
            @include m.grid(2, 2rem);
        }

        @media (min-width: 768px) { 
            grid-column: 1 / 4;
        }

        @media (min-width: 1124px) { 
            grid-template-columns: repeat(3, 1fr);
        }
    }

    & .card-1 {
        margin: 0 auto;
        width: 100%;
        max-width: 26.67rem;

        @media (min-width: 580px) {  
            max-width: none;
        }
    }

    & .card-1:last-child,
    & .card-1:first-child {
        display: none;

        @media (min-width: 1124px) { 
            display: flex;
        }
    }

    & .card-1__imagen {
        width: 13rem;
    }

    &__col-banner {
        background-color: v.$negro;
        border-radius: 0.5rem;
        padding: 2rem;
        display: none;

        @media (min-width: 768px) {
            display: grid;
            place-items: center; 
            grid-column: 4 / 5;
        }

    }
}

.col-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    &__img {
        width: 30vw;
        min-width: 20rem;

        @media (min-width: 890px) { 
            
        }

        @include m.tablet-2 { 
            width: 30vw;
            min-width: 30rem;
        }

        @media (min-width: 1024px) { 
            width: 30rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__descripcion {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    &__marca {
        color: v.$blanco;
        font-size: 2rem;
    }

    &__nombre {
        color: v.$blanco;
        font-size: 2.5rem;
        font-weight: 300;
    }

    &__btn {
        @include m.boton(transparent, v.$blanco);
        border: 1px solid v.$blanco;
        margin-top: 1rem;
        width: min-content;
    }

    &__btn:hover {
        background-color: darken(v.$negro, 5%);
    }
}